.idea
.config
.npm
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
.env.integration
latest.dump
_ide_helper.php
_ide_helper_models.php
.DS_Store
.phpunit.cache
.gemini
.claude
.vscode
GEMINI.md
CLAUDE.md
SKILL.md
AGENTS.md
